<div class="div-80-transparent mb-4">

    <%= simple_form_for(:user_answers, method: :post, url: user_answers_team_path(@team)) do |f| %>

    <div class="mb-4" id="questionnaire-form">
      <h3 class="text-center"><%= @team.name %> Questionnaire</h3>
      <p class="text-center">Answer all questions to join the team and see what others think</p>
        <div class="card-questions">
          <div class="row justify-content-center">
            <div class="col-8">
              <%= f.input :team, :as => :hidden, :input_html => { :name => "team[#{@team.id}]" } %>
              <% answers = params[:user_answers]&.values || [] %>
              <% @questions.each_with_index do |question, index| %>
                <%= f.input question.content,
                    label: "<b>#{question.content}</b>".html_safe,
                    :input_html => { :name => "user_answers[#{question.id}]", class: "answer-input d-none" },
                    as: :radio_buttons,
                    collection: question.answers.map { |answer| [answer.content, answer.id] },
                    checked: answers[index],
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'answer-wrapper-team',
                    item_wrapper_class: 'answer-item-team'%>
              <% end %>
            </div>
        <br>
      </div>
        <div class="text-center">
          <%= link_to "Back", teams_path, id: "back-button"  %>
          <%= f.submit "Join team", id: "medium-btn-create" %>
        </div>
  <% end %>
  </div>
</div>
</div>
