<% content_for :meta_title, "#{@team.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @team.description %>

<div class="div-80-transparent">
  <div class="card-status mb-2">
    <div >
      <h3 class="text-center">Team <%= @team.name %></h3>
      <p class="text-center">Check out your teammates' profiles</p>
      <div class="row justify-content-center">
        <div class="m-auto">
          <% @team.users.each do |user|  %>
            <div class="card-status-infos d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <%= cl_image_tag user.valid_photo_url, class: "avatar-large", crop: :fill %>
                <% if user.first_name? %>
                  <p><%= user.first_name %> <%= user.last_name %></p>
                <% else %>
                  <p><%= user.email %></p>
                <% end %>
              </div>
              <% if user.personality || UserAnswer.where(user: user, team: @team).count > 0 %>
                <%= link_to "See details", team_user_path(@team, user), class: "btn btn-ghost" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <div class="container mt-5" id="confirm-buttons">
  <%= link_to "Back to teams", teams_path, id:"medium-btn-create" %>
  </div>
  </div>
</div>


