<div class="container">

  <div class="card-status">
    <div class="container mb-5 text-right">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
        Add another team member
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New team member</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container text-center">
                <%= simple_form_for [@team, Membership.new] do |f| %>
                <%= f.input :user, label: "Enter the email address of the person you wish to invite"%>
                <%= f.submit "invite", id: "medium-btn-create" %>
                <% end %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="text-center">Invitation status</h2>
    <div class="row justify-content-center">
      <div class="col-8 md-col-6">
        <% @team.memberships.each do |team|%>
          <div class="card-status-infos">
            <div class="d-flex justify-content-left">
              <%= cl_image_tag team.user.valid_photo_url, class: "avatar", alt: "team image" %>
              <!--<%#= cl_image_tag team.user.photo.key, class: "avatar-large", crop: :fill %>-->
            </div>
            <% if team.user.first_name? %>
              <p><%= team.user.first_name %> <%= team.user.last_name %></p>
            <% else %>
              <p><%= team.user.email %></p>
            <% end %>
            <div class="d-flex justify-content-left">
              <p><%= team.status  %></p>
              <% if team.status == "accepted" %>
                <i class="fas fa-circle" id="status-bubble" style="color: #99C2A2; font-size: 20px"></i>
              <% elsif team.status == "pending" %>
                <i class="fas fa-circle" id="status-bubble" style="color: orange; font-size: 20px"></i>
              <% else %>
                <i class="fas fa-circle" id="status-bubble" style="color: #ca3c25; font-size: 20px"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container mt-5" id="confirm-buttons">
    <%= link_to "Back to teams", teams_path, id:"small-btn" %>
  </div>

</div>
