<div class="container">
  <div class="card-answers">
    <div class="text-left">
      <h3 class="text-center">Team <%= @team.name %> | <%= @user.first_name %></h3>
      <p class="text-center">Get to know <%= @user.first_name %>'s personality & working preferences</p>

      <div class="d-flex flex-column align-items-center mb-4">
        <%= cl_image_tag @user.photo.key, class: "avatar-colored-border", crop: :fill %>
        <p><%= @user.personality&.abbreviation %> </p>
        <hr>
      </div>

      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <% if @user.personality %>
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-personality-tab" data-toggle="pill" href="#pills-personality" role="tab" aria-controls="pills-personality" aria-selected="true">Personality</a>
          </li>
        <% end %>
        <% @categories.each_with_index do |category, index| %>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-<%= category.parameterize %>-tab" data-toggle="pill" href="#pills-<%= category.parameterize %>" role="tab" aria-controls="pills-<%= category.parameterize %>" aria-selected="true"><%= category %></a>
        </li>
        <% end %>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <% if @user.personality %>
        <div class="tab-pane fade show active" id="pills-personality" role="tabpanel" aria-labelledby="pills-personality-tab">
          <div class="ml-2 mr-2">
            <h4><b><%= @user.first_name %> has the personality type <%= @user.personality.abbreviation %></b></h4>
            <p><%= @user.personality.description %></p>
          </div>
        </div>
        <% end %>
        <% @categories.each_with_index do |category, index| %>
          <div class="tab-pane fade" id="pills-<%= category.parameterize %>" role="tabpanel" aria-labelledby="pills-<%= category.parameterize %>-tab">
            <div class="ml-2 mr-2">
            <% @user_answers.joins(answer: :question).where("questions.category = ?", category).each do |user_answer| %>
            <h4><b><%= user_answer.answer.question.content %></b></h4>
            <p><%= user_answer.answer.content %></p>
            <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <div class="container mt-5" id="confirm-buttons">
  <%= link_to "Back to team", team_path(@team), id:"small-btn" %>
  </div>

