<header class="navbar navbar-expand navbar-light navbar-teamind">
  <div class="container" id="navbar-container">

    <%# teamind logo redirects to landing page if not logged in, and teams page if logged in%>
    <% if user_signed_in? %>
      <%= link_to teams_path, class: "navbar-brand" do %>
        <%= image_tag "teamind_logo.png", alt: "teamind", style: "height:50px;width:auto;" %>
      <% end %>
    <% else %>
      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "teamind_logo.png", alt: "teamind", style: "height:50px;width:auto;" %>
      <% end %>
    <% end %>

    <ul class="collapse navbar-collapse mb-0" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <ul class="dropdown">
            <nav class='dropdown-toggle' data-toggle="dropdown" id="navbarDropdown" aria-haspopup="true" aria-expanded="false">
              <%= cl_image_tag current_user.valid_photo_url, class: "avatar-bordered" %>
            </nav>
              <nav class="nav-item dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" >
                <p>Welcome <%= current_user.first_name %>!</p>
                <%= link_to personality_path, class: "dropdown-item" do %>
                  <i class="fas fa-user-circle"></i> My Profile
                <% end %>
                <%= link_to teams_path, class: "dropdown-item" do %>
                  <i class="fas fa-users"></i> My Teams
                <% end %>
                <%= link_to create_team_path(:new), class: "dropdown-item" do %>
                  <i class="fas fa-plus-circle"></i>  Add Team
                <% end %>
                <hr class="dropdown-divider">
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </nav>
          </ul>
        <% else %>
          <nav class="nav-item">
            <%= link_to "Login", new_user_session_path, id: "outline-btn" %>
          </nav>
        <% end %>
      </ul>
    </ul>
    
  </div>
</header>
