<div class="container mb-4">
  <%= simple_form_for(:personalities, method: :post, url: personality_path) do |f| %>
    <div class="container mb-4" id="personality-questionnaire-form">
      <div class="mb-4s">
        <h1 class="text-center"><%= current_user.first_name %>'s Personality Questionnaire </h1>
        <p>Please answer the 4 questions below. The 2 options always represent an extreme and you will often find yourself somewhere in the middle. Pick the option that reflects your character better and with which you can identify more - even if it's just a slight tendency.</p>
      </div>
      <% answers = params[:user_answers]&.values || [] %>
      <% @personality_questions.each_with_index do |question, index| %>
        <div class="mb-4">
        <%= f.input question.content,
          label: "<b>#{question.content}</b>".html_safe,
          :input_html => { :name => "user_answers[#{question.id}]", class: "answer-input d-none" },
          as: :radio_buttons,
          collection: question.answers.map { |answer| [answer.content, answer.id] },
          checked: answers[index],
          collection_wrapper_tag: 'div',
          collection_wrapper_class: 'answer-wrapper',
          item_wrapper_class: 'answer-item'%>
        </div>
      <% end %>
    </div>
    <div class="text-center">
        <%= link_to "Back", teams_path, id: "back-button"  %>
        <%= f.submit "Submit", id: "medium-btn-create" %>
    </div>
  <% end %>
</div>
