<div class="container">
  <% if current_user.personality %>
  <div class="container text-left" id="personality-show">
    <h2><%= current_user.first_name %>, your personality type is <%= current_user.personality.abbreviation %> </h2>
    <h4 class="mb-4">Below you can find a short description of what working in a team means for you</h4>
    <%= image_tag "teamwork.png", alt: "team graphic" %>
    <p><%= @personality.description %></p>
    <div class="text-center" id="confirm-buttons">
        <%= link_to "Go to dashboard", teams_path, id: "small-btn"  %>
    </div>
  </div>
  <% else %>
  <div class="container text-center" id="personality-show">
    <h3><%= current_user.first_name %>, you don't have a teamind profile yet! <i class="far fa-frown-open"></i></h3>
    <p>Please fill out our short questionnaire to unleash the magic and find out more about how you work in a team! <i class="fas fa-magic"></i></p>
    <div class="d-flex justify-content-center mt-4">
      <%= link_to personality_test_path do %>
      <div class="d-flex align-items-center" id="personality-btn"><i class="fas fa-list-ul mr-3"></i>Create profile</div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
