<div class="div-80-transparent">
  <% if current_user.personality %>
  <div class="text-left mb-2" id="personality-show">
    <h3 class="text-center"><%= current_user.first_name %>, your personality type is <b><%= current_user.personality.abbreviation %></b></h3>
    <p class="text-center mb-4">Below you can find a short description of what working in a team means for you</p>
    <div class="text-center mb-4">
      <%= image_tag "teamwork.png", alt: "team graphic" %>
    </div>
    <p class="mb-5"><%= @personality.description %></p>
    <div class="text-center" id="confirm-buttons">
        <%= link_to "Go to dashboard", teams_path, id: "medium-btn-create"  %>
    </div>
  </div>
  <% else %>
  <div class="text-center" id="personality-show">
    <h3><%= current_user.first_name %>, you don't have a teamind profile yet! <i class="far fa-frown-open"></i></h3>
    <p>Please fill out our short questionnaire to unleash the magic and find out more about how you work in a team! <i class="fas fa-magic"></i></p>
    <div class="d-flex justify-content-center mt-4">
      <%= link_to personality_test_path do %>
      <div class="d-flex align-items-center" id="personality-btn"><i class="fas fa-list-ul mr-3"></i>Create profile</div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
