<br>

<div class="container" id="team-form">
  <%= render "stepper", step: 3 %>

  <br>

  <h3>Final check</h3>
  <p>Check your team setup and questionnaire</p>

  <br><br>

  <div class="container" id="confirm-form">
    <h6 class="mb-3"><b>Your team name</b></h6>
    <div class="container" id="confirm-form-background">
        <%= session[:create_team]["team"]["name"] %>
    </div>
    <br><br>
    <h6 class="mb-3"><b>Your team description</b></h6>
    <div class="container" id="confirm-form-background">
      <%= session[:create_team]["team"]["description"] %>
    </div>
    <br><br>
    <h6 class="mb-2"><b>Your team members</b></h6>
    <div class="container" id="confirm-form-background">
      <%= session[:create_team]["team"]["email"] %>
    </div>
    <br><br>
    <h6 class="mb-3"><b>Your questionnaire</b></h6>
    <div class="container pt-2" id="confirm-form-background">
      <ol class="pl-3">
      <% session[:create_team]["questions"].each do |question_id| %>
      <%# I hope the questions are saved here ðŸŒ %>
      <li><p><%= Question.find(question_id).content %></p></li>
      <% end %>
      </ol>
    </div>
    <br><br><br>
    <div class="container" id="confirm-buttons">
      <%= link_to "Back", wizard_path(:questionnaire), id: "back-button" %>
      <%= link_to create_team_index_path, method: :post do %>
        <button id="medium-btn-create">Send</button>
      <% end %>
    </div>
  </div>
</div>
