<br>

<div class="container" id="team-form">
  <%= render "stepper", step: 3 %>

  <br>

  <h2>Final check</h2>
  <p>Check your team setup and questionnaire</p>

  <br><br>

  <div class="container" id="confirm-form">
    <h4>Your team name</h4>
    <div class="container" id="confirm-form-background">
        <%= session[:create_team]["team"]["name"] %>
    </div>
    <br>
    <h4>Your team description</h4>
    <div class="container" id="confirm-form-background">
      <%= session[:create_team]["team"]["description"] %>
    </div>
    <br>
    <h4>Your team members</h4>
    <div class="container" id="confirm-form-background">
      <%= session[:create_team]["team"]["email"] %>
    </div>
    <br>
    <h4>Your questionnaire</h4>
    <div class="container" id="confirm-form-background">
      <ol>
      <% session[:create_team]["questions"].each do |question_id| %>
      <%# I hope the questions are saved here ðŸŒ %>
      <li><%= Question.find(question_id).content %></li>
      <% end %>
      </ol>
    </div>
    <br><br>
    <div class="container" id="confirm-buttons">
      <%= link_to "Back", wizard_path(:questionnaire) %>
      <%= link_to create_team_index_path, method: :post do %>
        <button id="small-btn">Send</button>
      <% end %>
    </div>
  </div> 
</div>
