<br>

<div class="container" id="questionnaire-form">
  <%= render "stepper", step: 2 %>
  <br>
  <div class="text-center">
    <h3>Setup questionnaire</h3>
    <p class="mb-4">Select the questions that are most relevant to your team</p>
  </div>
  <br>
  <%= simple_form_for :question, url: wizard_path(:questionnaire), method: :patch do |f| %>
    <div class="row">
      <div class="col-3">
        <h6 style="color: #1F333D"><b><i class="fas fa-tag"></i> Select category</b></h6>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <% @categories.each_with_index do |category, index| %>
          <br>
            <a class="nav-link <%= "active" if index == 0 %>" id="v-pills-<%= category.parameterize %>-tab" data-toggle="pill" href="#v-pills-<%= category.parameterize %>" role="tab" aria-controls="v-pills-<%= category.parameterize %>" aria-selected="true"><%= category %></a>
          <% end %>
        </div>
      </div>
      <div class="col-9">
        <div class="d-flex justify-content-between">
          <h6 style="color: #1F333D"><b><i class="far fa-question-circle"></i> Pick questions</b> (max. 10)</h6>
          <h6 id="check-counter">(<%= @selected.length %>/10)</h6>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <% @categories.each_with_index do |category, index| %>
            <div class="tab-pane fade <%= "show active" if index == 0 %>" id="v-pills-<%= category.parameterize %>" role="tabpanel" aria-labelledby="v-pills-<%= category.parameterize %>-tab">
              <% @questions.where(category: category).each do |question| %>
              <label id="question" for="<%= question.id %>"><h6><b><%= question.content %></b></h6></label>
              <input name="question_ids[]" type="checkbox" value="<%= question.id %>" <%= "checked" if @selected.include?(question.id.to_s) %> class="form-check-input" >
                <ul>
                  <% question.answers.each do |answer| %>
                    <li>
                      <p><%= answer.content %></p>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <div class="text-center">
    <%= link_to "Back", wizard_path(:new), id: "back-button" %>
    <%= f.submit "Proceed", id: "medium-btn-create", class: "mt-4" %>
  </div>
<% end %>



</div>
